<div class="container">
    <div class="row white">
    <div class="col-md-6">
        <img class="img centerfit" src="/assets/img/about/about1.jpg" height="375" alt="" align="middle"> 
    </div>
    <div class="col-md-6">
        <h3>About Myself</h3>
        <div>
            <i class="fa fa-check"></i><span> Having more than 7 years of software development experience </span>
        </div>
        <br />        
        <div>
            <i class="fa fa-check"></i><span> Knowledgeable in project management </span>
        </div>
        <br />
        <div>
            <i class="fa fa-check"></i><span> Experienced on working as team </span>
        </div>
        <br />
        <div>
            <i class="fa fa-check"></i><span> Striving to work efficiently </span>
        </div>
        <br />
        <div>
            <i class="fa fa-book-open"></i><span> Always want to learn something new </span>
        </div>
        <br />
        <div>
            <i class="fa fa-gamepad"></i><span> Love video games </span>
        </div>
        <br />
        <div>
            <i class="fa fa-clock"></i><span> Ocassionally cycling and swimming </span>
        </div>
    </div>
    </div>
    <!-- row -->
</div>
