<div class="container">
    <div class="row">
        <h2 class="centered">Get in touch!</h2>
        <hr>
        {% comment %} <div class="col-lg-8 col-lg-offset-2">
            <p class="large">You can reach me via:</p>
        </div> {% endcomment %}
        {% for item in site.contacts %}
            {% assign item_name = item.path | split:"/" | last | split:"." | first %}
            {% assign contact_label = item_name | split: '_' %}
            {% if contact_label[1] == 'mail' %}
            <div class="col-md-12">
            {% else %}
            <div class="col-md-4">
            {% endif %}
                <a target="_blank" href="{{ item.link }}">
                    <i class="fa {{ item.icon }} fa-2x"></i>
                    <p>{{ item.label }} </p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>