
<div class="container">
    <div class="row">
    <h2 class="centered">Previous Works</h2>
    <hr>
    <div class="col-lg-8 col-lg-offset-2 centered">
        <p class="large">Click for more details</p>
    </div>
    </div>
    <!-- /row -->
    <div class="container">
    {% assign sortedlist = site.portfolio | reverse %}
    {% assign rows = sortedlist.size | divided_by: 3.0 | ceil %}
        {% for i in (1..rows) %}
            {% assign offset = forloop.index0 | times: 3 %}
            <div class="row">
                {% for item in sortedlist limit:3 offset:offset %}
                {% assign item_name = item.path | split:"/" | last | split:"." | first %}
            <!-- PORTFOLIO IMAGE -->
            <div class="col-md-4 ">
            <div class="grid mask">
                <a data-toggle="modal" href="#modal{{ item_name }}">
                <figure>
                <img class="img-responsive" src="{{ item.preview-banner }}" alt="">
                <figcaption>
                    <h5>{{ item.preview-title }}</h5>
                </figcaption>
                <!-- /figcaption -->
                </figure>
                <!-- /figure -->
                </a>
            </div>
            <!-- /grid-mask -->
            </div>

            <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                                a modal for each of your projects. -->
            <!-- MODAL START -->
            <div class="modal fade" id="modal{{ item_name }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ item.title }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <img class="img-responsive" src="{{ item.preview-banner }}" alt="">
                    </p>
                    <div class="center-table">
                        {% for detail in item.details %}
                            <div class="row">
                                <div class="col-xs-4">
                                    <b>{{ detail.label }}</b>
                                </div>
                            <div class="col-xs-8">{{ detail.value }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <p>{{ item.notes }}</p>
                    {% if item.link %}
                        <p><b>Visit Site</b></p>
                        {% if item.googleplay %}
                            <a href="{{ item.googleplay }}">
                            <img class="img" src="/assets/img/badges/googleplaybadge.png" alt="" height="50">
                            </a>
                        {% endif %}
                        {% if item.itunes %}
                            <a href="{{ item.itunes }}">
                            <img class="img" src="/assets/img/badges/appstorebadge.svg" alt="" height="35">
                            </a>
                        {% endif %}
                        {% if item.amazon %}
                            <a href="{{ item.amazon }}">
                            <img class="img" src="/assets/img/badges/amazonbadge.svg" alt="" height="35">
                            </a>
                        {% endif %}
                        {% if item.steam %}
                            <a href="{{ item.steam }}">
                            <b>Steam Store Page</b>
                            </a>
                        {% endif %}
                    {% endif %}
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        {% endfor %}
        </div>
        <!-- /row -->
    {% endfor %}


    
    </div>
</div>
