
<div class="container">
  <div class="row">
    <h2 class="centered">Abilities</h2>
    <hr>
  </div>
  {% for category in site.skills %}
  <div class="container">
    <br />
    <div class="row">
      <h3 class="centered">{{ category.label }}</h3>
    </div>
    <br />
    {% assign sortedlist = category.list %}
    {% for item in sortedlist %}
        <!-- PORTFOLIO IMAGE -->
        <div class="col-md-3 ">
        <div class="grid mask">
            <figure>
            <img class="img centerfit" src="{{ item.image }}" height="100" alt=""align="middle">
            <figcaption class="white">
                <h5>{{ item.name }}</h5>
            </figcaption>
            <!-- /figcaption -->
            </figure>
            <!-- /figure -->
        </div>
        <!-- /grid-mask -->
        </div>
    {% endfor %}
  </div>
    {% endfor %}
</div>
<!-- /row -->
