<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- generated using https://favicon.io-->
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <title>Iqbal | Software Engineer</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <link href="/assets/css/all.css" rel="stylesheet">
  <link href="/assets/css/v4-shims.css" rel="stylesheet">
  <link href="/assets/css/animate-custom.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <script src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  <div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#headerwrap">
            <i class="fa fa-gamepad"></i> Muhammad Iqbal</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#headerwrap">Home</a>
            </li>
            <li>
              <a class="page-scroll" href="#about"> Who Am I ?</a>
            </li>
            <li>
              <a class="page-scroll" href="#services"> What can I do?</a>
            </li>
            <li>
              <a class="page-scroll" href="#portfolio"> What did I do?</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact"> Contact</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <!-- ==== HEADERWRAP ==== -->
  <div id="headerwrap" class="tint" name="home">
    <header class="clearfix textposition">
      <h1>Muhammad Iqbal</h1>
      <p>Software Engineer | Mobile Developer</p>
      {% comment %} <a href="#about" class="page-scroll btn btn-lg">Find out more!</a> {% endcomment %}
    </header>
  </div>
  <!-- /headerwrap -->

  <!-- ==== ABOUT ==== -->
  <div id="about" name="about">
    {% include about_section.html %}
  </div>
  <!-- container -->

  <!-- ==== SKILLS ==== -->
  <div id="services" name="services">
    {% include skills_section.html %}
  </div>
  <!-- container -->

  <!-- ==== PORTFOLIO ==== -->
  <div id="portfolio" name="portfolio">
    {% include portfolio_section.html %}
  </div>
  <!-- /container -->

  <!-- ==== CONTACT ==== -->
  <div id="contact" name="contact">
    {% include contact_section.html %}
  </div>
  <!-- container -->

  <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">Copyright &copy; Muhammad Iqbal.
            <!-- Based on Ascend template from http://www.templategarden.com -->
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/retina.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.easing.1.3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-func.js"></script>
</body>

</html>